@charset "utf-8";
/* CSS Document */

html{
	
	background: #000;
}




body{
		margin: 0px 440px auto 450px;
		padding: 0px;
		background: url("../images/back2.png") repeat 0px 15px;
}

header{
		margin:0px 30px 0 30px;
		padding:10px 20px 10px 20px;
		text-align:center;
		-moz-border-radius: 20px;
		border-radius: 20px; 
		background-color:  rgba(153,102,51,.3);
		-moz-box-shadow: inset 0px 2px 1px 1px #999;
		box-shadow: inset 0px 2px 1px 1px #999; 
		}



h1{
	 
		font-family:Lithos Pro;
		color: #804040;
		font-size:50px;
		
}

h2{
		font-family:Lithos Pro;
		color :#fff;
		font-size:30px;
}


h3{
		text-align:center;
		font-family:Lithos Pro;
		color :#fff;
		font-size:24px;
}

.brief{
		margin: 20px 30px 0 30px;
		padding:10px 20px 20px 20px;
		-moz-border-radius: 10px;
		border-radius: 20px; 
		background-color:  rgba(153,102,51,.3);
		
	
}

p{
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 16px;
}
	
.audi{
		padding:10px 20px 20px 20px;
		margin: 20px 30px 0 30px;
		-moz-border-radius: 10px;
		border-radius: 20px; 
		background-color:  rgba(153,102,51,.3);
}

.instr{
		margin: 20px 30px 0 30px;
		padding:10px 20px 20px 20px;
		-moz-border-radius: 10px;
		border-radius: 20px; 
		background-color:  rgba(153,102,51,.3);	
}

strong{
		color:#fff;
}

.link{
		margin: 20px 30px 0 30px;
		padding:10px 20px 20px 20px;
		-moz-border-radius: 10px;
		border-radius: 20px; 
		background-color:  rgba(153,102,51,.3);
}


a{
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 16px;  	
}


a:visited {
	    color:#000;
}

  
a:hover {
	   color:#930;
}  
 

figure{
	
		text-align: center;
		margin-left: 30px ;
		margin-right: 30px;
		padding:10px 0px 30px 30px;
		
		-moz-border-radius: 20px;
		border-radius: 20px; 
		background-color:  rgba(153,102,51,.3);
}

img{
	    margin: 10px 20px 20px;
	
	
}


